General code to read in the xlxs file you want from github

In [1]:
import pandas as pd
import urllib.request

In [2]:
# INSERT THE NAME OF THE FILE YOU WANT HERE THIS IS JUST AN EXAMPLE
file = 'aquatic_plants_lakes.xlsx'

url = f"https://github.com/haleyej/clean_water_corps_data/raw/main/{file}"
urllib.request.urlretrieve(url, file)

('aquatic_plants_lakes.xlsx', <http.client.HTTPMessage at 0x7f8455b95df0>)

Our data is in excel files, so we use pd.read_excel. If for whatever reason you're trying to access data from the repo that's in a different format, just change this to the appropriate function (probably pd.read_csv).

In [3]:
df = pd.read_excel(file)
df.head()

,Lake Name,County,Township,Section,Site ID,STORETID,Latitude,Longitude,Watershed,Surface Area,...,Date Sampled,Area Covered,# Transects,# Sampling Sites,Comments,Plant ID,Plant Name,Distribution,Avg Density (0.0 - 5.0),Tier
0,Beaver,Alpena,Ossineke and Green,NaN,Deep basin,40097,44.936115,-83.80004,4070006.0,621.0,...,2006-07-21,Whole Lake,32,384,NaN,20,Stonewort,79.0,2.3,1
1,Beaver,Alpena,Ossineke and Green,NaN,Deep basin,40097,44.936115,-83.80004,4070006.0,621.0,...,2006-07-21,Whole Lake,32,384,NaN,48,Bladderwort,44.0,0.9,1
2,Beaver,Alpena,Ossineke and Green,NaN,Deep basin,40097,44.936115,-83.80004,4070006.0,621.0,...,2006-07-21,Whole Lake,32,384,NaN,34,Wild celery,15.0,0.4,1
3,Beaver,Alpena,Ossineke and Green,NaN,Deep basin,40097,44.936115,-83.80004,4070006.0,621.0,...,2006-07-21,Whole Lake,32,384,NaN,37,Illinois pondweed,11.0,0.2,1
4,Beaver,Alpena,Ossineke and Green,NaN,Deep basin,40097,44.936115,-83.80004,4070006.0,621.0,...,2006-07-21,Whole Lake,32,384,NaN,7,Bulrushes,10.0,0.2,1